{% load i18n %}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="{% url 'kdo-welcome' %}">KDO</a>
            <ul class="nav">
                <li>
                    <a href="{% url 'kdo-signup' %}">
                        {% trans 'Sign up' %}
                    </a>
                </li>
            </ul>
            <form class="navbar-form pull-right"
                  action="{% url 'login' %}"
                  method="post">
                {% block input_username %}
                <input class="span2" type="text"
                    placeholder="{% trans 'Username' %}" name="username"
                    value="{% block input_username_value %}{% endblock %}"
                    {% block input_username_extra %}autofocus{% endblock %}>
                {% endblock %}
                <input class="span2" type="password"
                    placeholder="{% trans 'Password' %}" name="password"
                    {% block input_password_extra %}{% endblock %}>
                <button type="submit" class="btn">
                    <i class="icon-plane"></i>
                    {% trans 'Sign in' %}
                </button>
                {% csrf_token %}
            </form>
        </div>
    </div>
</div>
