{% load i18n kdo %}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="{% url 'kdo-landing' %}">KDO</a>
            <ul class="nav">
                <li>
                    <a href="{% url 'kdo-landing' %}">
                        {% trans 'Landing' %}
                    </a>
                </li>
                <li>
                    <a href="{% url 'kdo-present-list' %}">
                        {% trans 'List of all presents' %}
                    </a>
                </li>
                <li>
                    <a href="{% url 'kdo-present-create' %}?next={{ request.get_full_path|urlencode }}">
                        {% trans 'Add a present' %}
                    </a>
                </li>
            </ul>
            <div class="pull-right">
                {% invitation_count user as count %}
                {% if count %}
                <a href="{% url 'kdo-invitation-list' %}"
                   class="btn btn-link"
                   title="{% blocktrans count count=count %}{{ count }} invitation pending{% plural %}{{ count }} invitations pending{% endblocktrans %}">
                    <i class="icon-envelope icon-white"></i>
                    <span class="badge badge-important">{{ count }}</span>
                </a>
                {% endif %}
                <a href="{% url 'kdo-profile-update' %}?next={{ request.get_full_path|urlencode }}"
                   class="btn">
                    <i class="icon-wrench"></i>
                    {% trans 'Profile' %}
                </a>
                <a href="{% url 'logout' %}" class="btn">
                    <i class="icon-off"></i>
                    {% trans 'Sign out' %}
                </a>
                {% get_current_language as current_lang %}
                {% get_available_languages as available_lang %}
                
                <form class="form-inline"
                      action="{% url 'set_language' %}"
                      method="post"
                      style="display:inline">
                    {% for lang, _ in available_lang %}
                    {% if lang != current_lang %}
                        <button type="submit"
                                class="btn"
                                name="language"
                                value="{{ lang }}">
                            <i class="icon-globe"></i>
                            {{ lang|upper }}
                        </button>
                    {% endif %}
                    {% endfor %}
                    <input type="hidden" name="next" value="{{ request.get_full_path }}">
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
</div>
