ul.inline li,
ol.inline li {
    display: inline;
    margin-right: 10px;
}

ul.participants li form,
ul.inline li form,
ol.inline li form {
    display: inline;
}

ul.participants li form button,
ul.inline li form button,
ol.inline li form button {
    border: 0;
    background: none;
    padding: 0;
}
