{% extends 'base.html' %}

{% load i18n %}

{% block content %}
<h1>{% trans 'List of invitations' %}</h1>
<table class="table table-striped table-hover">
    <thead><tr>
        <th>{% trans 'sent by'|capfirst context 'invitation' %}</th>
        <th>{% trans 'sent on'|capfirst context 'invitation' %}</th>
        <th>{% trans 'present'|capfirst %}</th>
        <th>{% trans 'giftee'|capfirst %}</th>
        <th>{% trans 'actions'|capfirst %}</th>
    </tr></thead>
    <tbody>
    {% for invitation in object_list %}
        <tr>
            <td>{{ invitation.sent_by.first_name|default:invitation.sent_by.username }}</td>
            <td>{{ invitation.sent_on|date }}</td>
            <td>{{ invitation.present.title }}</td>
            <td>{{ invitation.present.giftee }}</td>
            <td>
                <form action="{% url 'kdo-redeem-invitation' %}"
                      method="post">
                <button type="submit" class="btn">
                    <i class="icon-ok"></i>
                    {% trans 'redeem'|capfirst %}
                </button>
                <input type="hidden" name="token" value="{{ invitation.token }}">
                <input type="hidden" name="next" value="{{ request.get_full_path }}">
                {% csrf_token %}
                </form>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
