{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans 'List of all presents' %}{% endblock %}

{% block content %}
<h1>{% block table_title %}{% trans 'List of all presents' %}{% endblock %}</h1>
<table class="table table-striped table-hover">
    <thead><tr>
        <th>{% trans 'title'|capfirst %}</th>
        <th>{% trans 'giftee'|capfirst %}</th>
        <th>{% trans 'description'|capfirst %}</th>
        <th>{% trans 'comments'|capfirst %}</th>
    </tr></thead>
    <tbody>
    {% for present in object_list %}
        <tr>
            <td><a href="{% url 'kdo-present-detail' present.pk %}">
                {{ present.title }}
            </a></td>
            <td>{{ present.giftee }}</td>
            <td>{{ present.description|linebreaks }}</td>
            <td><a href="{% url 'kdo-present-detail' present.pk %}#comments">
                {{ present.count_comments }}
            </a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% block after_table %}
<hr />
<p>
    <a href="{% block create_present_url %}{% url 'kdo-present-create' %}{% endblock %}?next={{ request.get_full_path|urlencode }}"
       class="btn btn-primary btn-large">
        <i class="icon-gift"></i>
        {% trans 'Add a present' %}
    </a>
</p>
{% endblock after_table %}
{% endblock content %}
