{% extends 'baseform_icon.html' %}

{% load i18n %}

{% block form_title %}{{ object.title }}{% endblock %}

{% block form_before_fields %}
<p>{% trans "Please indicate the exact price you paid for this item." %}</p>
<p>{% trans "We'll use it later to calculate who owes how much to whom." %}</p>
{% endblock %}

{% block form_submit_text %}
{% trans 'I bought this present' %}
{% endblock %}

{% block form_cancel_text %}
{% trans 'I made a mistake, take me back' %}
{% endblock %}

{% block form_submit_icon %}hand-up icon-white{% endblock %}
