{% extends 'baseform_icon.html' %}

{% load i18n %}

{% block form_submit_text %}{% trans 'Update' %}{% endblock %}

{% block form_submit_icon %}wrench{% endblock %}

{% block form_after_fields %}
<div class="control-group">
    <label class="control-label">{% trans 'Password' %} :</label>
    <div class="controls">
        <a href="{% url 'kdo-password-update' %}?next={{ request.get_full_path|urlencode }}" class="btn">
            <i class="icon-lock"></i>
            {% trans 'Change' %}
        </a>
    </div>
</div>
{% endblock %}
